beautifulsoup4==4.12.3
bleach==6.1.0
code128==0.3
cryptography==43.0.1
csv_diff==1.2
docx==0.2.4
docxtpl==0.18.0
Flask==3.0.3
flask_cors==5.0.0
flask_limiter==3.8.0
icmplib==3.0.4
Jinja2==3.1.3
jsonschema==4.23.0
matplotlib==3.9.2
mlxtend==0.23.1
numpy==2.1.2
pandas==2.2.3
pika==1.3.2
Pillow==10.4.0
promise==2.3
pymongo==4.10.1
pyodbc==5.2.0
python_dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
qrcode==8.0
Requests==2.32.3
selenium==4.25.0
shortuuid==1.0.13
twilio==8.10.2
waitress==3.0.0
Werkzeug==3.0.4
gunicorn==23.0.0
