<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <img src="cid:image1">
    </header>

    <section>
        <p>This coupon is good for $10 off your first order of $50 or more! </p>
        <p>This coupon is valid online or in-store for the next 5 days! Enter the code {{ coupon }} at the checkout to save instantly.</p>
        
        <h2><a href="{{ company_url }}">Use Coupon Code: {{ coupon }} Now!</a></h2>
    </section>

</body>
</html>
