<!DOCTYPE html>
<html lang="en" style="background-color: white; height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div style="
    background-color: white;
    display: block;
    height: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 15px;
    box-shadow: 5px 5px 5px darkgrey;">

        <table role="presentation" cellspacing="0" width="100%" >
            <tr>
                <td style="
                padding-left: 20px;
                padding-right: 20px;">
                    <div class="header" style="text-align: center;">

                        <a href="{{ company_url }}"><img src="cid:image1" style="width: 50%;
                                margin-bottom: 15px;"></a>

                    </div>
                </td>
            </tr>
            <tr>
                <td style="
                padding-left: 20px;
                padding-right: 20px;">
                    <div class="body">
                        <div style="
                            padding-left: 20px;
                            padding-right: 20px;">
                            <p>The following people requested information about landscape design.</p>
                            <ul>
                                {% for item in leads: %}
                                    <li><h2>{{ item['first_name'] }} {{ item['last_name'] }}</h2></li>
                                        <ul>
                                            <li><p>Date: {{ item['date'] }}</p></li>

                                            <li><p>Email: {{ item['email'] }}</p></li>

                                            {% if item['phone'] != None %}
                                            <li><p>Phone: {{ format.format_phone(item['phone']) }}</p></li>
                                            {% endif %}

                                            {% if item['street'] != None %}
                                            <li><p>Address: <br>
                                                {{ item['street'] }} <br>
                                                {{ item['city'] }}, {{ item['state'] }} {{ item['zip_code']|int }}
                                            </p></li>
                                            {% endif %}

                                            <li><p>Interested in:</p></li>
                                                <ul>
                                                    {% for item in item['interested_in'] %}
                                                        <li><p>{{ item }}</p></li>
                                                    {% endfor %}
                                                </ul>
                                            {% if item['timeline'] == 'Today' %}
                                            <li><p>Timeline: <span style="font-size: 1.5em; color: red;"><b>{{ item['timeline'] }}</b></span></p></li>
                                            {% else %}
                                            <li><p>Timeline: {{ item['timeline'] }}</p></li>
                                            {% endif %}

                                            {% if item['comments'] != None %}
                                            <li><p>Comments: <br>
                                                {{ item['comments'] }}
                                            </p></li>
                                            {% endif %}
                                        </ul>
                                {% endfor %}
                            </ul>
                            <h2><a href="https://docs.google.com/spreadsheets/d/15LYI1MLqx3a5IFtmvxRLIzGtF75viyxUd_S_UQxfN34/edit?usp=sharing">View the Lead Spreadsheet</a></h2>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div style="display: block; height: 35px;"></div>
    </div>
</body>
</html>
