<!DOCTYPE html>
<html lang="en" style="background-color: white; height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        html {
            font-family: Lora;
        }

        h1 {
            color:#000000;
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 0px;

        }

        h2 {
            color:#000000;
            font-weight: 700;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        h3 {
            color:#000000;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        h4 {
            color:#000000;
            margin-top: 15px;
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: 300;
        }

        h5 {
            font-family: 'Arial';
            margin: 0px;
            font-size: 13px;
        }

        p {
            margin: 5px 0px 10px 0px;
        }

        </style>
</head>
<body style="background-color:#ffffff;">
    <span class="preheader" style="display: none; overflow: hidden;">Items Report</span>
        <div>
            <div id="logo">
                <img class="logo" src="cid:image1">
            </div>

            <div id="header">
                <h1>Web Items Report</h1>
                <h3>{{ date }}</h3>
            </div>

            <div id="main">

                {% if invisible_items %}
                <div>
                    <h2>Non Web Visible Items</h2>
                    <p><u>Total items</u>: <b>{{ invisible_items|length }}</b></p>
                    
                    {% for i in range(invisible_items|length - 1) %}
                        <p>#{{ i + 1 }}: {{ invisible_items[i]['sku'] }}, {{ invisible_items[i]['name'] }}, In-Stock: {{ invisible_items[i]['qty'] }}</p>
                    
                        {% endfor %}
                </div>
                {% endif %}
                
                
                {% if non_web_enabled_items %}
                 <div>
                    <h2>Non Web-Enabled Items</h2>
                    <p><u>Total items</u>: <b>{{ non_web_enabled_items|length }}</b></p>
                    
                    {% for i in range(non_web_enabled_items|length - 1) %}
                        <p>#{{ i + 1 }}: {{ non_web_enabled_items[i]['sku'] }}, {{ non_web_enabled_items[i]['name'] }}, In-Stock: {{ non_web_enabled_items[i]['qty'] }}</p>
                    
                        {% endfor %}

                </div>
                {% endif %}


                {% if missing_ecomm_category_data %}
                <div>
                    <h2>No Ecomm Category</h2>
                    <p><u>Total items</u>: <b>{{ missing_ecomm_category_data|length }}</b></p>
                    
                    {% for i in range(missing_ecomm_category_data|length - 1) %}
                        <p>#{{ i + 1 }}: {{ missing_ecomm_category_data[i]['sku'] }}, {{ missing_ecomm_category_data[i]['name'] }}, In-Stock: {{ missing_ecomm_category_data[i]['qty'] }}</p>
                    
                    {% endfor %}
                </div>
                {% endif %}


                {% if binding_key_issues %}
                <div>
                    <h2>Binding Key Issues</h2>
                    <p><u>Total items</u>: <b>{{ binding_key_issues|length }}</b></p>
                    
                    {% for i in binding_key_issues %}
                        <p>Binding ID- {{ i['id'] }} - Error: {{ i['error'] }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                {% if missing_photo_data %}
                <div>
                    <h2>Missing Images</h2>
                    <p><u>Total items</u>: <b>{{ missing_photo_data|length }}</b></p>
                    
                    {% for i in range(missing_photo_data|length - 1) %}
                        <p>#{{ i + 1 }}: {{ missing_photo_data[i]['sku'] }}, {{ missing_photo_data[i]['name'] }}, In-Stock: {{ missing_photo_data[i]['qty'] }}</p>
                    
                    {% endfor %}
                </div>
                {% endif %}

                
                {% if items_with_negative_qty %}
                <div>
                    <h2>Negative Quantity</h2>
                    <p><u>Total items</u>: <b>{{ items_with_negative_qty|length }}</b></p>
                    
                    {% for i in range(items_with_negative_qty|length - 1) %}
                        <p>#{{ i + 1 }}: {{ items_with_negative_qty[i]['sku'] }}, {{ items_with_negative_qty[i]['name'] }}, In-Stock: {{ items_with_negative_qty[i]['qty'] }}</p>
                    
                    {% endfor %}
                </div>
                {% endif %}


                {% if inactive_items_with_stock %}
                <div>
                    <h2>Inactive Items with Stock</h2>
                    <p><u>Total items</u>: <b>{{ inactive_items_with_stock|length }}</b></p>
                    
                    {% for i in range(inactive_items_with_stock|length - 1) %}
                        <p>#{{ i + 1 }}: {{ inactive_items_with_stock[i]['sku'] }}, {{ inactive_items_with_stock[i]['name'] }}, In-Stock: {{ inactive_items_with_stock[i]['qty'] }}</p>
                    
                    {% endfor %}
                </div>
                {% endif %}


                {% if missing_item_descriptions %}
                <div>
                    <h2>Missing Product Descriptions</h2>
                    <p><u>Total items</u>: <b>{{ missing_item_descriptions|length }}</b></p>
                    
                    {% for i in range(missing_item_descriptions|length - 1) %}
                        <p>#{{ i + 1 }}: {{ missing_item_descriptions[i]['sku'] }}, {{ missing_item_descriptions[i]['name'] }}, In-Stock: {{ missing_item_descriptions[i]['qty'] }}</p>
                    
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
</body>
</html>
